.loader{
    background-color: $color-1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 80px);
    margin-left: 80px;
    img{
        height: 20vh;
    }
}